<h1>All Articles</h1>
<div id="articles">
<% @articles.each do |article| %>
  Title <%= article.id %>: <%= link_to article.title, article_path(article), class:"article-title", id:"article-#{article.id}"  %>
    <br>
  Body: <%= article.body  %>
  <br>
  <% end  %>
</div>
